.card {
  background-color: var(--card-color); // Set your card's background color
  width: max-content;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); // Optional for depth effect
  overflow: hidden; // Ensures children are clipped to border radius

  &-image {
    img {
      width: 100%; // Makes the image responsive
      height: auto;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;

    .card-heading {
      display: flex;
      justify-content: space-between;

      .card-series {
        color: var(--orange); // Add the specific orange color in your theme
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: bold;
        letter-spacing: 0.05rem; // Improves readability
      }

      .card-top {
        color: var(--accent-color3); // Accent color for secondary heading
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 500;
      }
    }

    .card-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--accent-color1); // Accent color for details
      font-size: 0.85rem;

      .card-title {
        font-weight: bold;
        font-size: 1rem;
      }

      .card-price {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          width: 20px;
          height: 20px;
        }

        h4 {
          margin: 0;
          color: var(--accent-color3); // Accent color for price
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }

    .card-sub-details {
      display: flex;
      justify-content: space-between;

      span {
        color: var(--accent-color3); // Accent color for subtle text
        font-size: 0.9rem;
        font-style: italic;
      }
    }
  }
}
