.nft-page {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .hero-image img {
    width: 500px;
    height: 400px;
    border-radius: 30px;
    margin-right: 20px;
    animation: pulse 3s ease-in-out infinite;
  }
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);  
    }
    100% {
        transform: scale(1);
    }
}
  .get-started-btn {
    margin-left: 20px;
    background-color: var(--magenta);
    margin-right: 20px;
    border: var(--magenta);
    color:var(--white);
    padding: 10px 20px;
    border-radius: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.get-started-btn:hover {
            box-shadow: 2px 2px 10px rgba(255, 0, 255, 0.8); 
            transition: all 0.5s ease-in-out;
  }
  .nft-head{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 52px;
    color:#444;
  }
  .nft-span{
    color:var(--magenta);
    font-size: 52px;
  }

  .top-n{

    color:var(--magenta);
  }

  .nft-p{
    margin-left: 20px;
    color:#444;
    font-size: 20px;
    margin-bottom: 50px;
  }
  .top-collections {
    margin-bottom: 50px;
  }
  
  .collect-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .collect-card {
    border-radius: 20px;
    width:100px;
    height:230px;
    flex: 1 1 calc(20% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
   &:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(255, 0, 255, 0.5);
   }
  }


  .coll-card{
    border-radius: 20px;
    width:100px;
    height:350px;
    flex: 1 1 calc(20% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
   &:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(255, 0, 255, 0.5);
   }
  }

  .nft-img{
    margin-top: 10px;
    width:100px;
    height: 100px;
    border-radius: 10px;
  }

  .nf-img{
    margin-top: 10px;
    width:130px;
    height: 130px;
    border-radius: 10px;
  }

  .n-name{
    font-size:18px;
    color:#444;
    font-weight: bold;
  }

  .n-plat{
    font-size:16px;
    color:#444;
    font-weight: bold;
  }

  .n-price{
    color:var(--magenta);
    font-weight: bold;
  }
  
  
  .mint-section {
    height: 680px;
    background-color: #f2e2f7;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
 
  .mint-image img {
    /* max-width: 100%; */
    /* height: auto; */
  }
  
  .mint-content {
    margin-left: 20px;
  }
  
  .mint-btn {
    background-color: var(--magenta);
    margin-top: 30px;
    margin-left: 20px;
    border: var(--magenta);
    color:var(--white);
    padding: 10px 20px;
    border-radius: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}
.mint-btn:hover {
            box-shadow: 2px 2px 10px rgba(255, 0, 255, 0.8); 
            transition: all 0.5s ease-in-out;
  }
  
  .my-nfts {
    margin-bottom: 40px;
  }
  
  .nf-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .nft-car {
    flex: 1 1 calc(20% - 20px);
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .card-actions button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .nft-h2{
    margin-top: 70px;
    font-size: 44px;
    color:#444;
    text-align: center;
    margin-bottom: 50px;
  }

  .mint-img{
    margin-left: 40px;
    width: 450px;
    height:350px;
    border-radius: 30px;
  }

  .mint-n{
    margin-top: -50px;
    /* color: var(--magenta); */
    font-size: 48px;
    text-align: left;
  }

  .mint-p{
    margin-left: 20px;
    font-size: 24px;
    color:#444;
    text-align: center;
  }

  .mint-l{
    font-size: 22px;
    color: #444;
  }

  .my-c{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 44px;
    color: #444;
  }

  .my-cf{
    color:var(--magenta);
    font-size: 44px;
  }

  .edit-fields{
    margin-top: 10px;
    width:270px;
  }