.search-flex{
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--magenta);
    padding: 0.2rem 1.5rem;
  margin-top: 40px;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}

.search-input {
    background-color: var(--magenta);
    color:var(--white);
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    border: none !important;
    width: 100%;
  }
  .search-input::placeholder {
    color: white; /* Placeholder text color for contrast */
  }

.search-flex input:focus{
    outline: none !important;
  }
  .clear-btn {
    background-color: var(--magenta);
    color: var(--white);
    font-size: 0.9rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .clear-btn:hover {
    background-color: var(--white);
    color: var(--magenta);
  }
  .no-results {
    text-align: center;
    font-size: 1.2rem;
    color: var(--magenta);
    margin: 2rem 0;
  }
.my-fav{
  margin-top: 20px;
  background-color: var(--white);
  margin-right: 60px;
  border: var(--magenta);
  color:var(--black);
  padding: 15px 30px;
  border-radius: 3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
    box-shadow: 2px 2px 10px rgba(255, 0, 255, 0.8); 
    transition: all 0.5s ease-in-out;
}

  
.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}